<h1>Scheduling App</h1>

<label>Unavailable Hours</label>
<input id="unavailable" type="datetime-local" name="date" value="datetime-local">
<input id="unavailable2" type="datetime-local" name="date2" value="datetime-local">
<input type="submit" value="Submit">
