<h1>Scheduling App</h1>

<label>Unavailable Hours</label>
<input type="date" id="work" name="work">
<input id="rangeInput" type="range" min="0" max="200" oninput="amount.value=rangeInput.value" />
<input id="amount" type="number" value="100" min="0" max="200" oninput="rangeInput.value=amount.value" />
